mvnw.cmd
pom.xml
.mvnw
\.target/
!\.target/*-runner
\.mvn/
mvnw

target/wiring-classes/

target/transformed-classes/

target/test-classes/

target/reports/

target/maven-status/

target/maven-archiver/

target/lib/

target/generated-sources/

target/classes/

*.jar

target/transformer-cache/

target/wiring-devmode/
